@import "@/assets/styles/vars.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    /*min-height: 100vh;*/
    height: 100%;
}

.block-spacing {
    padding: 4px;
}



